@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap");

*,*::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}
.logo {
    width: 100px;
}
header {
    position: absolute;
    z-index: 9999;
    width: 100%;
    padding: 0.9rem 0;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
header nav {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul {
    display: flex;
    list-style: none;
    align-items: center;
}
header ul a {
    text-decoration: none;
    color:#fff;
    padding: 0 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.83rem;
}
.search a {
    font-size: 1.05rem;
    padding: 0 3rem;
}
.hamburger {
    padding-left: 1.5rem;
    display: none;
}
.hamburger a {
    padding: 0;
    width: 37px;
    height: 37px;
    display: flex;
    border-radius: 50%;
    background-color: rgba(115,115,115,0.7);
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
}
.hamburger .bar {
    position: relative;
    width: 52%;
    height: 1.3px;
    background-color: #fff;
    border-radius: 2px;
}
.hamburger .bar::before, .hamburger .bar::after{
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 60%;
    height: 100%;
    background-color: inherit;
    border-radius: 2px;
}
.hamburger .bar::before {
    top: -4.5px;
}
.hamburger .bar::after {
    top: 4.5px;
}
.registration {
  display: flex;
}








.main {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.parallax {
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: 0.45s cubic-bezier(.2, .49, .32, .99);
}


.bg-img {
    position: absolute;
    width: 2800px;
    top: calc(50% - 300px);
    left: calc(50% + 10px);
    z-index: 1;
}
.fog-7 {
    position: absolute;
    z-index: 2;
    width: 1900px;
    top: calc(50% - 100px);
    left: calc(50% + 300px);
}
.mountain-10 {
    position: absolute;
    z-index: 3;
    width: 2800px;
    top: calc(50% - 69px);
    left: calc(50% + 230px);
}
.fog-6 {
    position: absolute;
    z-index: 16;
    width: 1610px;
    top: calc(50% - 85px);
    left: calc(50% + 10px);
}
.mountain-9 {
    position: absolute;
    z-index: 5;
    width: 470px;
    top: calc(50% - 135px);
    left: calc(50% + 457px);
}
.mountain-8 {
    position: absolute;
    z-index: 6;
    width: 810px;
    top: calc(50% - 86px);
    left: calc(50% + 202px);
}
.fog-5 {
    position: absolute;
    z-index: 7;
    width: 450px;
    top: calc(50% - 160px);
    left: calc(50% + 20px);
}
.mountain-7 {
    position: absolute;
    z-index: 8;
    width: 538px;
    top: calc(50% - 123px);
    left: calc(50% + 305px);
}
.text {
    position: absolute;
    z-index: 10;
    top: calc(50% - 120px);
    left: 50%;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    pointer-events: auto;
    width: 100%;
}
.text h2{
    font-weight: 100;
    font-size: 4.5rem;
}
.text h1 {
    font-weight: 800;
    font-size: 8rem;
    line-height: 0.88;
}
.text i {
    color: #fff;
    font-size: 100px;
}

.mountain-6{
    position: absolute;
    z-index: 10;
    top: calc(50% + 60px);
    left: calc(50% + 590px);
    width: 408px;
} 
.fog-4{
    position: absolute;
    z-index: 11;
    top: calc(50% + 223px);
    left: calc(50% - 60px);
    width: 590px;
}
.mountain-5{
    position: absolute;
    z-index: 12;
    top: calc(50% + 250px);
    left: calc(50% + 130px);
    width: 625px;
} 
.mountain-7{
    position: absolute;
    z-index: 10;
    width: 408px;
    top: calc(50% + 60px);
    left: calc(50% + 590px);
} 
.fog-3 {
    position: absolute;
    z-index: 13;
    top: calc(50% + 110px);
    left: calc(50% - 15px);
    width: 1600px;
} 
.mountain-4{
    position: absolute;
    z-index: 14;
    top: calc(50% + 196px);
    left: calc(50% - 381.5px);
    width: 780px;
} 

.fog-1 {
    position:absolute;
    z-index: 21;
    width: 1600px;
    top: calc(100% - 355px);
    left: 50%;
}
.vignette {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* background:radial-gradient(ellipse at  center, rgba(0,0,0,0) 65% rgba(0,0,0,1)); */
    /* background-color:radial-gradient(ellipse at  center, rgba(0,0,0,8)); */
    background: rgb(0,0,0);
    background: radial-gradient(ellipse at  center, rgba(0,0,0,0) 60%, rgba(0,0,0,0.4) 100%);
    pointer-events: none;
}
.sun-rays {
    position: absolute;
    z-index: 19;
    top: 0;
    right: 0;
    width: 595px;
    pointer-events: none;
}
.black-shadow {
    position: absolute;
    z-index: 20;
    bottom: 0;
    right: 0;
    width: 100%;
    pointer-events: none;
}
.details {
  height: 100vh;
  width: 100%;
  background-image: url("https://www.state.gov/wp-content/uploads/2020/11/shutterstock_186964970-scaled.jpg");
  background-size: cover;
}
.tours {
  background-color: #EDEADE;
  margin: 5% 0;
  padding: 2% 0;
}
























/*START HOLIDAY */
  
.theme__holiday {
    margin-top: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    width: 80%;
    max-width: 1200px;
    letter-spacing: 1px;
  }
  
  .holiday__title {
    font-size: 50px;
    margin-bottom: 20px;
  }
  
  .holiday__text {
    font-size: 20px;
    letter-spacing: 3px;
    margin-bottom: 40px;
  }
  
  .holiday__search {
    background-color: #fff;
    width: 32%;
    margin-left: auto;
    margin-right: auto;
    padding: 14px 24px;
    border-radius: 30px;
    margin-bottom: 60px;
  }
  
  .holiday__search-btn {
    border: none;
    font-size: 16px;
    opacity: 0.7;
    outline: none;
    cursor: text;
  }
  
  .holiday__search i {
    font-size: 18px;
    color: #c1c1c1;
    cursor: pointer;
  }
  
  .holiday__choose-wrap {
    width: 44%;
    margin-right: auto;
    margin-left: auto;
  }
  
  .holiday__choose-item {
    width: 108px;
    height: 104px;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .holiday__choose-item a {
    text-decoration: none;
    color: #fff;
  }
  
  .holiday__choose-item img {
    width: 32%;
  }
  
  .holiday__choose-item span {
    display: block;
    font-size: 12px;
  }
  
  /* END HOLIDAY */

















/* Later graped from pdf file */
bg-img {
    position: absolute;
    width: 2800px;
    top: calc(50% - 390px);
    z-index: 1;
    left: calc(50% + 10px);
}
.fog-1{
    position: absolute;
    z-index: 2;
    top: calc(50% - 100px);
    left: calc(50% + 300px);
    width: 1900px;

} 
.mountain-10{
    position: absolute;
    z-index: 3;
    top: calc(50% + 50px);
    width: 870px;
    left: calc(50% + 230px);

} 
.fog-2 {
    position: absolute;
    z-index: 4;
    top: calc(50% + 95px);
    left: calc(50% + 7px);
    width: 1833px;
}
.mountain-9 {
    position: absolute;
    z-index: 5;
    top: calc(50% + 119px);
    width: 463px;
    left: calc(50% - 457px);
}
 .mountain-8{
    position: absolute;
    z-index: 6;
    top: calc(50% + 140px);
    width: 786px;
    left: calc(50% - 202px)
} 
.fog-3 {
    position: absolute;
    z-index: 7;
    top: calc(50% + 171px);
    left: calc(50% + 29px);
    width: 449px
}
.mountain-7{
    position: absolute;
    z-index: 8;
    width: 515px;
    top: calc(50% + 134px);
    left: calc(50% + 305px);
} 
.mountain-6{
    position: absolute;
    z-index: 10;
    top: calc(50% + 60px);
    left: calc(50% + 590px);
    width: 383.5px;
} 
.fog-4{
    position: absolute;
    z-index: 11;
    top: calc(50% + 242px);
    left: calc(50% - 64px);
    width: 543px;
}
.mountain-5{
    position: absolute;
    z-index: 12;
    top: calc(50% + 269px);
    width: 583px;
    left: calc(50% + 130px);
} 
.fog-5{
    position: absolute;
    z-index: 7;
    top: calc(50% + 149px);
    left: calc(50% - 28px);
    width: 1435px;
} 
.mountain-4{
    position: absolute;
    z-index: 14;
    top: calc(50% + 221px);
    width: 717px;
    left: calc(50% - 381.5px)
} 
.mountain-3{
    position: absolute;
    z-index: 15;
    top: calc(50% + 133px);
    left: calc(50% + 736px);
    width: 419px;
} 
.fog-6{
    position: absolute;
    z-index: 13;
    top: calc(50% + 177px);
    left: calc(50% + 240px);
    width: 1418px;
    opacity: 0.7;
    /* box-shadow: 0 0 80px 80px white inset; */
} 
.mountain-2{
    position: absolute;
    z-index: 17;
    top: calc(50% + 188px);
    left: calc(50% + 412px);
    width: 625px;
}
.mountain-1{
    position: absolute;
    z-index: 18;
    top: calc(50% + 91.5px);
    left: calc(50% - 601px);
    width: 450px;
} 















/* extra.css */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
  }
  .abc {
    overflow: hidden;
  }
  a:hover,
  i:hover {
    opacity: 0.85;
  }
  
  body {
    font-family: "Poppins", sans-serif;
  }
  
  :root {
    --primary-text-color: #9a9a9a;
    --primary-text-color-2: #555555;
  }
  
  .pri-btn {
    padding: 8px 15px 6px;
    display: inline-block;
    border-radius: 30px;
    color: #fff;
    letter-spacing: 2px;
    text-decoration: none;
  }
  
  .flex-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .sub-title__text {
    color: var(--primary-text-color);
    letter-spacing: 2px;
    font-size: 15px;
  }
  
  .title__text {
    color: var(--primary-text-color-2);
    display: inline-block;
    font-size: 40px;
  }
  
  .--title__text-underline {
    position: relative;
  }
  
  .--title__text-underline:after {
    content: "";
    display: block;
    opacity: 0.7;
    height: 4px;
    position: absolute;
    right: 0;
    bottom: 10px;
    border-radius: 24%;
    width: 100%;
  }
  
  .sub-menu__text::after {
    background-color: #ffd105;
    height: 3px;
  }
  .dest-text::after {
    background-color: #1bbc9b;
  }
  .beaches-text::after {
    background-color: #14b9d5;
  }
  .holiday-text::after {
    background-color: #e66874;
  }
  .promotion-text::after {
    background-color: #1bbc9b;
  }
  
  .sub-menu__text {
    font-size: 25px;
  }
  
  .theme__container {
    width: 100%;
    height: 870px;
    position: relative;
    background-image: url(https://leloc90.github.io/loveTravel/assets/images/parallax-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
  }

  /*START HEADER */
  
  /* Start Subnav */
  /* End Subnav */
  
  /* END HEADER */
  
  /*START HOLIDAY */
  
  .theme__holiday {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    width: 80%;
    max-width: 1200px;
    letter-spacing: 1px;
  }
  
  .holiday__title {
    font-size: 50px;
    margin-bottom: 20px;
  }
  
  .holiday__text {
    font-size: 20px;
    letter-spacing: 3px;
    margin-bottom: 40px;
  }
  
  .holiday__search {
    background-color: #fff;
    width: 32%;
    margin-left: auto;
    margin-right: auto;
    padding: 14px 24px;
    border-radius: 30px;
    margin-bottom: 60px;
  }
  
  .holiday__search-btn {
    border: none;
    font-size: 16px;
    opacity: 0.7;
    outline: none;
    cursor: text;
  }
  
  .holiday__search i {
    font-size: 18px;
    color: #c1c1c1;
    cursor: pointer;
  }
  
  .holiday__choose-wrap {
    width: 44%;
    margin-right: auto;
    margin-left: auto;
  }
  
  .holiday__choose-item {
    width: 108px;
    height: 104px;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .holiday__choose-item a {
    text-decoration: none;
    color: #fff;
  }
  
  .holiday__choose-item img {
    width: 32%;
  }
  
  .holiday__choose-item span {
    display: block;
    font-size: 12px;
  }
  
  /* END HOLIDAY */
  
  /*START SUB MENU */
  .sub-menu__check:checked ~ .sub-menu {
    transform: translateX(0%);
    opacity: 1;
  }
  
  .sub-menu {
    position: fixed;
    right: 0;
    top: 0;
    opacity: 0;
    transform: translateX(100%);
    width: 376px;
    background-color: #fff;
    z-index: 1;
    padding: 0px 30px 0 42px;
    height: 100vh;
    overflow-y: auto;
    transition: linear 0.5s;
  }
  
  .sub-menu-tablet-mobile {
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: #555555;
    z-index: 1;
    padding: 24px;
    opacity: 0;
    transform: translateX(100%);
    transition: linear 0.5s;
    overflow-y: scroll;
  }
  
  .navbar-mobile__list,
  .subnav-mobile__list {
    list-style: none;
  }
  
  .navbar-mobile__item {
    margin-bottom: 16px;
  }
  
  .navbar-mobile__link,
  .subnav-mobile__link {
    text-decoration: none;
    color: #fff;
  }
  
  .navbar-mobile__link {
    font-weight: bold;
    font-size: 20px;
  }
  
  .subnav-mobile__link {
    font-size: 14px;
    letter-spacing: 2px;
    margin-left: 24px;
  }
  
  .sub-menu__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 32px;
    color: var(--primary-text-color);
    opacity: 0.7;
    cursor: pointer;
  }
  
  .sub-menu__places {
    margin-top: 24px;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .sub-menu__title:after {
    content: "";
    display: block;
    background-color: #ffd105;
    opacity: 0.5;
    width: 100%;
    height: 5px;
    position: absolute;
    bottom: 11px;
  }
  
  .sub-menu__place-wrap {
    margin-top: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .sub-menu__place-wrap img {
    width: 100px;
    height: 100px;
  }
  
  .sub-menu__place-info {
    flex: 1;
    margin-left: 28px;
    text-align: left;
  }
  
  .sub-menu__place-info h5 {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-top: -8px;
  }
  
  .sub-menu__place-info p,
  .promotion__item-head p {
    color: var(--primary-text-color);
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 14px;
  }
  
  .sub-menu__place-info p i {
    transform: translatey(1px);
    opacity: 0.7;
    margin-right: 6px;
  }
  
  .sub-menu__place-info a {
    font-size: 14px;
    text-decoration: none;
  }
  
  .sub-menu__btn {
    padding: 4px 20px;
    margin-top: 20px;
  }
  .--berlin-btn-color {
    background: linear-gradient(to right, #ffd205 0%, #ff9b05 100%);
  }
  
  .--hong-kong-btn-color {
    background: linear-gradient(to right, #f76570 0%, #f78d65 100%);
  }
  
  .--san-fran-btn-color {
    background: linear-gradient(to right, #ba71da 0%, #da717b 100%);
  }
  
  .--tuscany-btn-color {
    background: linear-gradient(to right, #1bbc9b 0%, #1bbc63 100%);
  }
  
  .--amsterdam-btn-color {
    background: linear-gradient(to right, #f3a46b 0%, #f3c96b 100%);
  }
  
  .--phuket-btn-color {
    background: linear-gradient(to right, #14b9d5 0%, #14d5b1 100%);
  }
  
  .sub-menu__dest-item {
    margin-bottom: 40px;
    position: relative;
    width: 270px;
    height: 270px;
    filter: grayscale(10%);
  }
  
  .dest__europe {
    background: no-repeat center / cover
      url(https://i.pinimg.com/564x/e7/ac/31/e7ac31fe00d29fbba88251c8e87f0f8f.jpg);
  }
  
  .dest__thailandia {
    background: no-repeat center / cover
      url(https://i.pinimg.com/564x/8b/84/49/8b8449cf9de2e1880cd774be3157960b.jpg);
  }
  
  .dest__asia {
    background: no-repeat center / cover
      url(https://i.pinimg.com/564x/94/b3/d2/94b3d2d4aaeb950c498c26f19917393e.jpg);
  }
  
  .dest__italy {
    background: no-repeat center / cover
      url(https://i.pinimg.com/564x/ad/b2/ba/adb2babdef50452e60ef77d5e3cbbba6.jpg);
  }
  
  .dest__netherlands {
    background: no-repeat center / cover
      url(https://i.pinimg.com/564x/22/e0/25/22e025a2be1481376455d424593041db.jpg);
  }
  
  .dest__usa {
    background: no-repeat center / cover
      url(https://i.pinimg.com/564x/fc/52/da/fc52da4969cc8d0c02eadaecdb8a7f8d.jpg);
  }
  
  .dest__item img {
    width: 40px;
    height: 40px;
    margin-left: 24px;
    margin-top: 24px;
  }
  
  .dest__item-info {
    color: #fff;
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.15) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    padding-left: 24px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .dest__item-title {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
  }
  
  .dest__item-text {
    font-size: 16px;
    letter-spacing: 2px;
  }
  
  .dest__item:hover .dest__overlay {
    opacity: 1;
  }
  .dest__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #14b9d5;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: linear 0.5s;
  }
  
  .dest__overlay h5 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    margin: 0 0 16px;
  }
  
  .dest__overlay-list {
    list-style: none;
  }
  
  .dest__overlay-link {
    color: #fff;
    text-decoration: none;
    line-height: 1.7;
  }
  
  .dest__overlay-btn {
    padding: 3px 23px;
    background-color: #fff;
    color: #14b9d5;
    margin-top: 24px;
    border-radius: 30px;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    transition: linear 0.2s;
  }
  
  .dest__overlay-btn:hover {
    /* animation: ring 1s linear; */
    opacity: 0.95;
    transform: scale(1.03);
  }
  
  @keyframes ring {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(1deg);
    }
    50% {
      transform: rotate(-1deg);
    }
    75% {
      transform: rotate(1deg);
    }
    0% {
      transform: rotate(0deg);
    }
  }
  /* END SUB MENU */
  
  /* START DESTINATION */
  .dest__wrap {
    width: 80%;
    max-width: 1200px;
    text-align: center;
    margin: 60px auto 0;
  }
  
  .dest__list {
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -6px;
    margin-right: -6px;
    text-align: left;
  }
  
  .dest__item-flex {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding: 0 6px;
    margin-bottom: 12px;
  }
  
  .abc {
    width: 100%;
    height: 270px;
    position: relative;
    filter: grayscale(10%);
    height: 380px;
  }
  
  /* END DESTINATION */
  
  /* START NEXT HOLIDAY */
  .next-holiday {
    margin-top: 60px;
    margin-bottom: 60px;
    height: 204px;
    width: 100%;
    background: no-repeat center / cover
      url(https://leloc90.github.io/loveTravel/assets/images/parallax-search-2.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .next-holiday > * {
    width: 32%;
  }
  
  .next-holiday__text-wrap {
    font-size: 46px;
    font-weight: bold;
    color: #fff;
    line-height: 1;
  }
  
  .next-holiday__text-2 {
    display: inline;
  }
  
  .next-holiday__btn-wrap {
    text-align: center;
  }
  .next-holiday__btn {
    color: rgba(247, 101, 112, 0.95);
    background-color: #fff;
    padding: 8px 40px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 14px;
  }
  
  /* END NEXT HOLIDAY */
  
  /* TOURS */
  .tours__container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .tours__beaches {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .beaches__info {
    width: 32%;
    padding: 12px;
    align-self: flex-start;
  }
  
  .beaches__desc {
    font-size: 14px;
    color: var(--primary-text-color);
    margin: 16px 0;
    line-height: 1.8;
    letter-spacing: 1px;
  }
  
  .beaches__price {
    margin-top: 24px;
  }
  
  .beaches__old-price {
    font-size: 30px;
    color: #dadada;
    text-decoration: line-through;
    margin-right: 12px;
  }
  
  .beaches__new-price {
    font-size: 30px;
    color: var(--primary-text-color-2);
  }
  
  .beaches__price-person {
    font-size: 14px;
    color: var(--primary-text-color-2);
  }
  
  .beaches__btn {
    background-color: #1bbc9b;
    text-decoration: none;
    padding: 6px 22px 4px;
    font-size: 14px;
    margin-top: 24px;
  }
  
  /* Beach wrap */
  .beaches__wrap {
    width: 65%;
    padding: 12px;
    position: relative;
  }
  
  .beaches__bullets {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .beaches__bullets-item {
    display: inline-block;
    width: 60px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    z-index: 2;
    margin: 0 4px;
  }
  
  .beaches__bullets-item:hover {
    background-color: #fff;
  }
  
  .beaches__img-container {
    width: 100%;
    height: 400px;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: unset;
  }
  
  .beaches__img-container::-webkit-scrollbar {
    display: none;
  }
  
  .beaches__img-main {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
  }
  
  .beaches__img-1 {
    background: no-repeat center / cover
      url(https://leloc90.github.io/loveTravel/assets/images/parallax-4.jpg);
  }
  
  .beaches__img-2 {
    background: no-repeat center / cover
      url(https://leloc90.github.io/loveTravel/assets/images/parallax-4-1.jpg);
  }
  
  .beaches__img-3 {
    background: no-repeat center / cover
      url(https://leloc90.github.io/loveTravel/assets/images/package-3.jpg);
  }
  
  .beaches__wrap-time {
    background-color: #14b9d5;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 36%);
  }
  
  .time__block {
    width: 120px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    position: relative;
  }
  
  .time__block:not(:first-child)::after {
    content: "";
    display: block;
    background-color: rgba(0, 0, 0, 0.08);
    position: absolute;
    left: 0;
    width: 3px;
    height: 64%;
    transform: rotate(12deg);
  }
  
  .time__number {
    font-size: 32px;
  }
  
  .time__text {
    font-size: 13px;
  }
  /* Tour list */
  .tours__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
  }
  
  .tours__item {
    width: 30%;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  .tours__item img {
    width: 46px;
    height: 46px;
    margin-right: 12px;
  }
  
  .tours__info {
    letter-spacing: 1px;
  }
  
  .tours__info h5 {
    font-size: 20px;
    color: var(--primary-text-color-2);
  }
  
  .tours__info p {
    font-size: 13px;
    color: var(--primary-text-color);
    margin: 12px 0;
  }
  
  .tours__info a {
    text-decoration: none;
    color: #14b9d5;
    font-size: 12px;
  }
  
  /* END TOURS */
  
  /* START DISCOVER */
  
  .discover__container {
    margin: 60px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .discover__img-1 {
    background: no-repeat center / cover
      url(https://i.pinimg.com/564x/d6/62/c1/d662c1c1725a7d182c1712d9f1ee106c.jpg);
  }
  
  .discover__img-2 {
    background: no-repeat center / cover
      url(https://i.pinimg.com/564x/ac/e5/ed/ace5ed785beb820ccbf5f202bf5bf3f7.jpg);
  }
  
  .discover__item {
    flex: 1;
    height: 248px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
  }
  
  .discover__item p {
    font-size: 13px;
    color: #fff;
  }
  
  .discover__item h4 {
    font-size: 32px;
    color: #fff;
    margin-bottom: 20px;
  }
  
  .discover__item a {
    text-decoration: none;
    padding: 8px 36px 6px;
    background-color: #fff;
    border-radius: 30px;
    font-size: 14px;
  }
  
  .discover__btn-1 {
    color: #f3a46b;
  }
  
  .discover__btn-2 {
    color: #1bbc9b;
  }
  
  /* END DISCOVER */
  
  /* START PROMOTION */
  
  .promotion__container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  
  .promotion__wrap {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .promotion__item {
    width: 33%;
    padding: 12px;
  }
  
  .promotion__item-img {
    width: 100%;
    padding-top: 60%;
    position: relative;
  }
  
  .--item-img-1 {
    background: no-repeat center / cover
      url(https://i.pinimg.com/564x/47/e2/8c/47e28cb37314c93cdb615ff64bd2c0e5.jpg);
  }
  
  .--item-img-2 {
    background: no-repeat center / cover
      url(https://i.pinimg.com/564x/4a/0b/ea/4a0bea20dae8f4246f46d4e46cdf547b.jpg);
  }
  
  .--item-img-3 {
    background: no-repeat center / cover
      url(https://i.pinimg.com/564x/88/48/78/884878043ee17464c8972e66effcc716.jpg);
  }
  
  .promotion__item-sticker-1,
  .promotion__item-sticker-2,
  .promotion__item-sticker-3 {
    --sticker-size: 50px;
    position: absolute;
    bottom: -25px;
    right: 20px;
    background-color: #000;
    border-radius: 50%;
    width: var(--sticker-size);
    height: var(--sticker-size);
  }
  
  .promotion__item-sticker-1 {
    background: linear-gradient(to right, #ffd205 0%, #ff9b05 100%);
  }
  
  .promotion__item-sticker-2 {
    background: linear-gradient(to right, #f76570 0%, #f78d65 100%);
  }
  
  .promotion__item-sticker-3 {
    background: linear-gradient(to right, #ba71da 0%, #da717b 100%);
  }
  
  .sticker__img {
    transform: translateY(36%);
    width: 54%;
  }
  
  .promotion__item-info {
    margin-top: 20px;
    text-align: left;
    padding: 0 20px;
    border: 1px solid #f1f1f1;
    border-top: none;
  }
  
  .promotion__item-head {
    letter-spacing: 1px;
  }
  
  .promotion__item-head h5 {
    font-size: 20px;
    color: var(--primary-text-color-2);
  }
  
  .promotion__item-thema {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
  }
  
  .promotion__item-thema-text {
    font-size: 14px;
    letter-spacing: 1px;
    color: var(--primary-text-color-2);
  }
  
  .promotion__item-thema-text span {
    display: inline-block;
    padding: 1px 8px 1px;
    border-radius: 14px;
    font-size: 10px;
    color: #fff;
    line-height: 1.4;
    margin-left: 12px;
    transform: translateY(-2px);
  }
  
  .promotion__item-thema-price {
    font-size: 24px;
    color: var(--primary-text-color-2);
  }
  
  .old-price {
    text-decoration: line-through;
    font-size: 20px;
    opacity: 0.8;
  }
  
  .promotion__item-desc {
    margin-top: 20px;
    font-size: 15px;
    color: var(--primary-text-color);
    line-height: 2;
    letter-spacing: 1px;
  }
  
  .promotion-btn-1,
  .promotion-btn-2,
  .promotion-btn-3 {
    padding: 5px 15px 4px;
    font-size: 13px;
    margin: 20px 0;
  }
  
  .promotion-btn-1 {
    background-color: #ffd205;
  }
  
  .promotion-btn-2 {
    background-color: #f76570;
  }
  
  .promotion-btn-3 {
    background-color: #ba71da;
  }
  
  /* END PROMOTION */
  
  /* START FOOTER */
  
  footer {
    margin-top: 60px;
    background: no-repeat center / cover
      url("https://images.pexels.com/photos/1563356/pexels-photo-1563356.jpeg?cs=srgb&dl=pexels-craig-adderley-1563356.jpg&fm=jpg");
    width: 100%;
    padding-top: 38%;
    position: relative;
  }
  
  .footer__container {
    width: 86%;
    max-width: 1200px;
    position: absolute;
    top: 60px;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  
  .footer__head {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer__title,
  .footer__input {
    width: 50%;
    padding: 0 30px;
  }
  
  .footer__title {
    padding-left: 20%;
  }
  
  .footer__title p {
    font-size: 15px;
    color: white;
    letter-spacing: 1px;
  }
  
  .footer__title h5 {
    font-size: 38px;
    color: white;
    letter-spacing: 1px;
    line-height: 1.8;
  }
  
  .footer__input input {
    background-color: #fff;
    border-radius: 30px;
    padding: 10px 24px;
    width: 250px;
    outline: none;
    border: 1px solid #f1f1f1;
    font-size: 20px;
    color: var(--primary-text-color);
    margin-left: 12px;
  }
  
  .footer__btn {
    margin-left: 16px;
    background-color: #14b9d5;
  }
  
  /* footer body */
  
  .footer__body {
    background-color: #fff;
    width: 100%;
    padding: 32px 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
  }
  
  .footer__body-left {
    width: 45%;
  }
  
  .footer__logo {
    width: 54px;
    height: 54px;
    margin-bottom: 12px;
  }
  .footer__logo img {
    width: 100%;
  }
  
  .footer__body-left p {
    color: var(--primary-text-color);
    letter-spacing: 1px;
    line-height: 1.8;
    font-size: 14px;
  }
  
  .footer__social-icon {
    margin-top: 20px;
  }
  
  .footer__social-icon i {
    color: var(--primary-text-color-2);
    font-size: 26px;
    margin-right: 8px;
  }
  
  .footer__body-right {
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
    margin-left: 24px;
    margin-right: 24px;
  }
  .footer__body-info {
    padding: 5px;
  }
  .footer__body-info h5 {
    font-size: 17px;
    color: var(--primary-text-color-2);
  }
  
  .footer__info-list {
    list-style: none;
    font-size: 16px;
    color: var(--primary-text-color);
    margin-top: 24px;
    line-height: 1.5;
  }
  
  .footer__info-item i {
    transform: translateY(2px);
  }
  
  .footer__info-link {
    text-decoration: none;
    color: var(--primary-text-color);
    font-size: 14px;
  }
  
  .footer__body-bottom {
    width: 100%;
    background-color: #14b9d5;
    font-size: 12px;
    color: #fff;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 2px;
  }
  /* END FOOTER */
  
  /* Desktop medium */
  @media (min-width: 109px) and (max-width: 1320px) {
    .footer__title {
      padding-left: 10%;
    }
  
    footer {
      padding-top: 50%;
    }
  }
  
  /* Desktop small */
  @media (min-width: 1024px) and (max-width: 1208px) {
    .header__logo {
      margin-left: 32px;
      margin-right: 32px;
    }
  
    .navbar__btn {
      margin-left: 32px;
    }
  
    .navbar__link {
      padding: 8px 8px 6px;
    }
  
    footer {
      padding-top: 60%;
    }
  
    .footer__container {
      width: 82%;
    }
  
    .footer__title {
      width: 44%;
      padding-left: 5%;
    }
  
    .footer__input {
      width: 60%;
    }
  }
  
  /* Desktop*/
  @media (min-width: 1024px) {
    .hide-on-desktop {
      display: none;
    }
  }
  
  /* Desktop & Tablet */
  @media (min-width: 740px) {
    .hide-on-desktop-tablet {
      display: none;
    }
  }
  
  /* Tablet */
  @media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
      display: none;
    }
  
    .theme__container {
      background-position: -820px -162px;
    }
  
    .header__logo img {
      width: 72px;
    }
  
    .theme__img > img {
      width: 100%;
      transform: scale(1.4);
      opacity: 0.9;
    }
  
    .theme__holiday {
      top: 54%;
    }
  
    .holiday__title {
      font-size: 46px;
      margin-bottom: 14px;
    }
  
    .holiday__text {
      font-size: 24px;
      letter-spacing: 2px;
      margin-bottom: 20px;
    }
  
    .holiday__search {
      width: 100%;
      padding: 18px 24px;
      margin-bottom: 30px;
      font-size: 14px;
    }
  
    .holiday__search-btn {
      font-size: 20px;
    }
  
    .holiday__choose-wrap {
      width: 80%;
      flex-wrap: wrap;
    }
  
    .holiday__choose-item {
      width: 48%;
      height: 140px;
      margin-top: 20px;
    }
  
    .holiday__choose-item img {
      width: 50%;
    }
  
    .holiday__choose-item span {
      font-size: 20px;
    }
  
    .dest__wrap {
      width: 90%;
    }
  
    .dest__item-flex {
      flex: 0 0 50%;
      max-width: 50%;
    }
  
    .next-holiday {
      justify-content: space-around;
    }
  
    .next-holiday__text-wrap {
      padding-left: 24px;
    }
  
    .next-holiday__btn {
      font-size: 16px;
    }
  
    .tours__container {
      width: 90%;
    }
  
    .beaches__wrap-time {
      height: 100px;
      left: 12px;
      right: 12px;
      bottom: -80px;
      transform: translate(0, 0);
    }
  
    .tours__item {
      width: 33%;
    }
  
    .promotion__container {
      width: 90%;
    }
    .footer__title {
      margin-bottom: 16px;
    }
    .footer__input input {
      width: 72%;
      padding: 8px 24px;
      margin-left: 0;
    }
  
    .footer__btn {
      padding: 8px 50px 7px;
      font-size: 18px;
    }
  
    .footer__body {
      padding: 28px 28px;
    }
  
    .footer__body-right {
      width: 60%;
    }
  
    .footer__body-bottom {
      margin-bottom: 40px;
    }
  }
  
  /* Tablet & Mobile */
  @media (max-width: 1023px) {
    .hide-on-tablet-mobile {
      display: none;
    }
  
    header {
      position: relativ;
    }
  
    .header__menu-icon {
      font-size: 60px;
      margin-left: 0;
      margin-right: 50px;
    }
  
    .header__logo {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      margin: 0;
    }
  
    .sub-menu__check:checked ~ .sub-menu-tablet-mobile {
      transform: translateX(0%);
      opacity: 1;
    }
  
    .dest__list {
      margin-left: 0;
      margin-right: 0;
    }
  
    .tours__beaches {
      flex-wrap: wrap;
    }
  
    .beaches__info,
    .beaches__wrap {
      width: 100%;
    }
  
    .beaches__wrap {
      margin-top: 24px;
    }
  
    .tours__list {
      margin-top: 120px;
      flex-wrap: wrap;
    }
  
    .tours__item {
      width: 100%;
    }
  
    .tours__info p {
      font-size: 16px;
    }
  
    .tours__info a {
      font-size: 14px;
    }
  
    .discover__container {
      flex-wrap: wrap;
    }
  
    .discover__item {
      flex: unset;
      height: 300px;
      width: 100%;
    }
  
    .discover__item p {
      font-size: 16px;
    }
  
    .discover__item h4 {
      font-size: 36px;
    }
  
    .discover__item a {
      font-size: 16px;
    }
  
    .promotion__wrap {
      flex-wrap: wrap;
    }
  
    .promotion__item {
      width: 100%;
    }
  
    .promotion__item-head h5 {
      font-size: 26px;
    }
  
    .sub-menu__place-info p,
    .promotion__item-head p {
      font-size: 16px;
    }
  
    .promotion__item-thema-text {
      font-size: 16px;
    }
  
    .promotion__item-thema-price {
      font-size: 28px;
    }
  
    .promotion__item-desc {
      font-size: 16px;
    }
  
    .promotion-btn-1,
    .promotion-btn-2,
    .promotion-btn-3 {
      padding: 7px 36px 6px;
      font-size: 18px;
    }
  
    footer {
      padding-top: 86%;
    }
  
    .footer__container {
      width: 96%;
    }
  
    .footer__head {
      flex-direction: column;
    }
  
    .footer__title h5 {
      font-size: 32px;
    }
  
    .footer__title,
    .footer__input {
      width: 100%;
    }
  
    .dest__item:active .dest__overlay {
      opacity: 1;
    }
  }
  
  /* Mobile */
  @media (max-width: 739px) {
    .hide-on-mobile {
      display: none;
    }
  
    .title__text {
      font-size: 32px;
    }
  
    .theme__container {
      height: 600px;
      background-position: -1174px -191px;
    }
  
    /* header {
      height: 74px;
    } */
  
    .header__logo img {
      width: 52px;
    }
  
    .header__menu-icon {
      font-size: 32px;
      margin-right: 24px;
    }
  
    .theme__img > img {
      transform: scale(1.6);
    }
  
    .theme__holiday {
      top: 54%;
    }
  
    .holiday__title {
      font-size: 36px;
      margin-bottom: 14px;
    }
  
    .holiday__text {
      font-size: 16px;
      letter-spacing: 2px;
      margin-bottom: 20px;
    }
  
    .holiday__search {
      width: 100%;
      padding: 14px 20px;
      margin-bottom: 18px;
      font-size: 14px;
    }
  
    .holiday__search-btn {
      font-size: 18px;
    }
  
    .holiday__choose-wrap {
      width: 100%;
      flex-wrap: wrap;
    }
  
    .holiday__choose-item {
      width: 48%;
      height: 100px;
      margin-top: 12px;
    }
  
    .holiday__choose-item img {
      width: 36%;
    }
  
    .holiday__choose-item span {
      font-size: 14px;
    }
  
    .dest__item-flex {
      flex: 0 0 100%;
      max-width: 100%;
    }
  
    .dest__wrap {
      width: 96%;
    }
  
    .next-holiday {
      flex-direction: column;
      height: 248px;
    }
  
    .next-holiday__text-wrap {
      font-size: 32px;
      align-self: flex-start;
      padding-left: 30px;
    }
  
    .next-holiday__text-2::after {
      width: 99%;
      height: 4px;
      bottom: 8px;
    }
  
    .next-holiday__btn {
      padding: 6px 26px;
      font-size: 14px;
    }
  
    .next-holiday__btn-wrap {
      padding-top: 42px;
      width: 100%;
    }
  
    .tours__container {
      width: 96%;
    }
  
    .beaches__bullets-item {
      width: 48px;
    }
  
    .beaches__wrap-time {
      height: 198px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      bottom: -140px;
      left: 12px;
      right: 12px;
      transform: translate(0, 0);
    }
  
    .time__block:nth-child(3)::after {
      display: none;
    }
  
    .time__block {
      width: 50%;
    }
  
    .tours__list {
      margin-top: 160px;
    }
  
    .promotion__container {
      width: 96%;
    }
  
    footer {
      padding-top: 180%;
    }
  
    .footer__title,
    .footer__input {
      text-align: center;
      padding: 0 12px;
    }
  
    .footer__title p {
      font-size: 16px;
    }
  
    .footer__input input {
      width: 100%;
      margin-left: 0;
    }
  
    .footer__btn {
      margin-left: 0;
      margin-top: 12px;
      width: 100%;
      font-size: 16px;
      padding: 6px 15px 4px;
    }
  
    .footer__body {
      flex-wrap: wrap;
      padding: 16px;
    }
  
    .footer__body-left {
      width: 100%;
      text-align: center;
    }
  
    .footer__logo {
      margin-left: 50%;
      width: 62px;
      height: 62px;
      transform: translateX(-50%);
    }
  
    .footer__social-icon {
      margin-top: 4px;
    }
    .footer__social-icon i {
      font-size: 32px;
    }
  
    .footer__body-right {
      width: 100%;
      margin: 12px 0;
    }
  
    .footer__info-list {
      margin-top: 10px;
    }
  
    .footer__body-bottom {
      font-size: 14px;
      padding: 12px;
      text-align: center;
      display: block;
      margin-bottom: 40px;
    }
  
    .promotion-text::after {
      bottom: 11px;
    }
  }
  
  
/* responsive queries for parallax effect's */

@media (max-width: 1100px) {
  .text {
    margin-top: 40%;
  }
  .text h1 {
  font-size: 5.8rem;
  }
  .text h2{
    font-size: 60px;
  }

}

@media (max-width: 769px) {
  .text {
    margin-top: 15%;
  }
  .text h1 {
  font-size: 5rem;
  line-height: 1.1;
  }
  .text h2{
    font-size: 50px;
    line-height: 1.1;
  }
  header nav {
    padding: 0 1rem;
  }
  .logo {
    width: 75px;
  }
  header ul a {
    font-size: 0.73rem;
    padding: 0 0.9rem;
  }
  .search a {
    font-size: 0.85rem;
    padding: 0 1.8rem;
  }
  .hamburger {
    padding-left: 0.9rem;
  }
  .hamburger a {
    height: 30px;
    width: 30px;
  }
  /* .details {
    height: 150vh;
  } */
}

@media (max-width: 520px) {
  .hamburger {
    display: block;
  }
  header {
    height: 35px;
    padding: 0;
    margin-top: 2px;
  }
  .text h1 {
  font-size: 3rem;
  }
  .text h2{
    font-size: 30px;
  }
  .registration {
    display: none;
  }
  .show {
    display: block;
    position: absolute;
    top: 30px;
    right: 5px;
    text-align: right;
  }
  .details {
    height: 120vh;
  }
}